extends layout.pug

block content 
 h1 Books
 p
  a.button(href='/books/new') Create New Book
 form(method='post', action='/books/search')
  input.searchBtn(type='submit', value='Search')
  input.width#title(name='title', type='text', value='' placeholder='Title')
  input.width#author(name='author', type='text', value='' placeholder='Author')
  input.width#genre(name='genre', type='text', value='' placeholder='Genre')
  input.width#year(name='year', type='text', value='' placeholder='Year')

 table.tableWidth
  thead
    tr
      th Title
      th Author
      th Genre
      th Year
  tbody
   each book in books
    tr
      td
        a(href=`/books/${book.id}`) #{book.title}
      td #{book.author}
      td #{book.genre}
      td #{book.year}
 br
 div
  -for(let j = 1; j <= totalPgs; j++)
    a.button.paging(href=`/books?page=${j}`) #{j}




